src/flows/Enrollment_Activities_Complete-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_EnrollmentID</name>
        <label>Assign EnrollmentID</label>
        <locationX>405</locationX>
        <locationY>142</locationY>
        <assignmentItems>
            <assignToReference>EnrollmentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1nM0000000XRFh</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Count_Open_Activities</name>
        <label>Count Open Activities</label>
        <locationX>398</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>OpenTaskCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_All_Tasks_Completed</name>
        <label>Are All Tasks Completed?</label>
        <locationX>158</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>Update_Enrollment_if_Tasks_Completed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tasks not Completed</defaultConnectorLabel>
        <rules>
            <name>Tasks_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenTaskCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_if_Tasks_Completed</targetReference>
            </connector>
            <label>Tasks Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Status</name>
        <label>Check Task Status</label>
        <locationX>401</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Count_Open_Activities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Not Completed</defaultConnectorLabel>
        <rules>
            <name>Task_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskLoop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Tasks</targetReference>
            </connector>
            <label>Task Completed</label>
        </rules>
    </decisions>
    <interviewLabel>Enrollment Activities Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Activities Complete</label>
    <loops>
        <name>Loop_Thru_Tasks</name>
        <label>Loop Thru Tasks</label>
        <locationX>159</locationX>
        <locationY>366</locationY>
        <assignNextValueToReference>TaskLoop</assignNextValueToReference>
        <collectionReference>EnrollmentLeadTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Task_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_All_Tasks_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Enrollment</name>
        <label>Lookup Enrollment</label>
        <locationX>159</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Enrollment_Lead_Tasks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentID</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <outputAssignments>
            <assignToReference>EnrollmentLeadID</assignToReference>
            <field>Lead__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Enrollment_Lead_Tasks</name>
        <label>Lookup Enrollment Lead Tasks</label>
        <locationX>163</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Tasks</targetReference>
        </connector>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentLeadID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>EnrollmentLeadTasks</outputReference>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enrollment_if_Tasks_Completed</name>
        <label>Update Enrollment if Tasks Completed</label>
        <locationX>26</locationX>
        <locationY>615</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFActivitiesClosed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrollment_if_Tasks_Completed_0</name>
        <label>Update Enrollment if Tasks Completed</label>
        <locationX>292</locationX>
        <locationY>614</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EnrollmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SFActivitiesClosed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Enrollment__c</object>
    </recordUpdates>
    <screens>
        <name>Debug_Screen4</name>
        <label>Debug Screen4</label>
        <locationX>538</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>test</name>
            <fieldText>{!OpenTaskCount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Enrollment</startElementReference>
    <variables>
        <name>EnrollmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnrollmentLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>EnrollmentLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnrollmentLeadTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OpenTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TaskLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
