src/flows/Salesforce_Referral_Survey-57.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_False_to_Irrelevent_Variables</name>
        <label>Assign False to Irrelevent Variables</label>
        <locationX>675</locationX>
        <locationY>3133</locationY>
        <assignmentItems>
            <assignToReference>SFDC_CustomerData</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_SourceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_FacilitiesVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_ProductVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_AssetsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_PIVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequiresLaptopVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Screen_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SFDC_Property_Choices</name>
        <label>Assign SFDC Property Choices</label>
        <locationX>839</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>SFDC_CustomerData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFDC_customer_data</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_SourceCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFDC_source_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_FacilitiesVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFDC_facilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_ProductVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFDC_product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_NetworkVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFDC_network</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_AssetsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFDC_assets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFDC_PIVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequiresLaptopVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequiresLaptop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requires_Laptop_Tangent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Type_of_Laptop_Screen_Used</name>
        <label>Type of Laptop Screen Used</label>
        <locationX>1139</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>ShippingAddressforAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_Address2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingCityforAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingStateTerritoryforAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Territory2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingZipPostalCodeForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postal_Code2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingCountryForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_2_Used</name>
        <label>2.2 Used</label>
        <locationX>1139</locationX>
        <locationY>3407</locationY>
        <assignmentItems>
            <assignToReference>ShippingAddressforAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingCityforAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingStateTerritoryforAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Territory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingZipPostalCodeForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShippingCountryForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X4_1_Used_Assignment</name>
        <label>4.1 Used Assignment</label>
        <locationX>1338</locationX>
        <locationY>3265</locationY>
        <assignmentItems>
            <assignToReference>BusinessUnitCodeForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Unit_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CostCenterCodeForAssignement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_Center_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentAmountForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Amount_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentUnitForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Amount_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramFeesIncludedForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncreaseRateforFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BudgetForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Approved_Budget1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpensesForAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesforceBillableExpenses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkCountryVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_2_2_Used</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>APAC</name>
        <choiceText>APAC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client</name>
        <choiceText>Client</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Client_Boolean</name>
        <choiceText>Client</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Client_text</name>
        <choiceText>Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>contractor_in_scope</name>
        <choiceText>Yes, the contractor is in scope for engagement through MBO Partners</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>contractor_is_in_scope</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>contractor_is_not_in_scope</name>
        <choiceText>No, the contractor is not in scope.</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>contractor_not_in_scope</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Deliverable</name>
        <choiceText>Deliverable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deliverable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dell_PC</name>
        <choiceText>Dell PC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dell PC</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hour</name>
        <choiceText>Hour</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hour</stringValue>
        </value>
    </choices>
    <choices>
        <name>Japan</name>
        <choiceText>Japan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Japan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Laptop_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Laptop_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Laptop_No_Boolean</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Laptop_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Laptop_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Laptop_Yes_Boolean</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Latin_America</name>
        <choiceText>Latin America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Latin America</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mac</name>
        <choiceText>Mac</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mac</stringValue>
        </value>
    </choices>
    <choices>
        <name>Milestone</name>
        <choiceText>Milestone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Milestone</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Hire_Ticket_Not_Required</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>New_Hire_Ticket_Required</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Fees_Included</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_Requries_Phone</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_the_contractor_is_responsible_for_covering_the_MBO_fee</name>
        <choiceText>No, the contractor is responsible for covering the MBO fee from the original negotiated payment amount.</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Office</name>
        <choiceText>Office</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Office_Boolean</name>
        <choiceText>Office</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Office_text</name>
        <choiceText>Office</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remote</name>
        <choiceText>Remote</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Remote_Boolean</name>
        <choiceText>Remote</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Remote_text</name>
        <choiceText>Remote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remote</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_Fees_Included</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Requries_Phone</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Salesforce_is_covering_the_cost_of_the_MBO_fee</name>
        <choiceText>Yes, Salesforce is covering the cost of the MBO fee by increasing the originally negotiated payment amount.</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_the_contractor_is_in_scope_for_engagement_throguh_MBO_Partners</name>
        <choiceText>Yes, the contractor is in scope for engagement throguh MBO Partners</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Access_to_Confidential_Information</name>
        <label>Access to Confidential Information</label>
        <locationX>442</locationX>
        <locationY>3458</locationY>
        <defaultConnectorLabel>No Access</defaultConnectorLabel>
        <rules>
            <name>Access</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SFDC_source_code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SFDC_customer_data</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Personal_information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Required</targetReference>
            </connector>
            <label>Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_in_correct_format</name>
        <label>Is email in correct format?</label>
        <locationX>507</locationX>
        <locationY>2827</locationY>
        <defaultConnector>
            <targetReference>Email_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Email_Correct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Personal_email_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Re_type_Personal_Email_Address</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_Hire_Ticked_Required</targetReference>
            </connector>
            <label>Email Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_in_correct_format_0</name>
        <label>Is email in correct format?</label>
        <locationX>1186</locationX>
        <locationY>3136</locationY>
        <defaultConnector>
            <targetReference>Email_Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Incorrect</defaultConnectorLabel>
        <rules>
            <name>Email_Correct_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Manager_Email_Address</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Screen_3</targetReference>
            </connector>
            <label>Email Correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Hire_Ticked_Required</name>
        <label>Is New Hire Ticked Required</label>
        <locationX>504</locationX>
        <locationY>3048</locationY>
        <defaultConnector>
            <targetReference>Assign_False_to_Irrelevent_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>New_Hire_Ticket_Required3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Hire_Ticket_Required2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Hire_Ticket_Required</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Screen_2_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_contractor_in_scope</name>
        <label>Is the contractor in scope?</label>
        <locationX>163</locationX>
        <locationY>3042</locationY>
        <defaultConnector>
            <targetReference>Not_in_Scope</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in Scope</defaultConnectorLabel>
        <rules>
            <name>In_Scope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contractor_Critera</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contractor_is_in_scope</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Screen_1</targetReference>
            </connector>
            <label>In Scope</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Project_End_Date_after_the_Project_Start_Date</name>
        <label>Is the Project End Date after the Project Start Date?</label>
        <locationX>505</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Is_email_in_correct_format</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>EndDateBefore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_End_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Project_Start_date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Date_Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requires_Laptop_Tangent</name>
        <label>Requires Laptop Tangent</label>
        <locationX>705</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Screen_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Require Laptop</defaultConnectorLabel>
        <rules>
            <name>Does_Requires_Laptop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequiresLaptop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Laptop_Yes_Boolean</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Laptop</targetReference>
            </connector>
            <label>Requires Laptop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_2_2_Used</name>
        <label>Screen 2.2 Used</label>
        <locationX>1337</locationX>
        <locationY>3453</locationY>
        <defaultConnector>
            <targetReference>Type_of_Laptop_Screen_Used</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Used</defaultConnectorLabel>
        <rules>
            <name>Screen42Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_2_Used</targetReference>
            </connector>
            <label>Used</label>
        </rules>
    </decisions>
    <interviewLabel>Salesforce Referral Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salesforce Referral Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Referral_Object</name>
        <label>Create Referral Object</label>
        <locationX>788</locationX>
        <locationY>3454</locationY>
        <assignRecordIdToReference>SalesforceReferralId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Salesforce_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Job_Title__c</field>
            <value>
                <elementReference>Business_Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit_Code__c</field>
            <value>
                <elementReference>BusinessUnitCodeForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Computer_Type__c</field>
            <value>
                <elementReference>computer_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contractor_s_Expense_Budget__c</field>
            <value>
                <elementReference>ExpensesForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Center_Code__c</field>
            <value>
                <elementReference>CostCenterCodeForAssignement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Services__c</field>
            <value>
                <elementReference>Description_of_Services</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual_to_clone_for_Org62_access__c</field>
            <value>
                <elementReference>Individual_to_Clone_for_Org62</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Type__c</field>
            <value>
                <elementReference>Location_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Email__c</field>
            <value>
                <elementReference>Manager_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Name__c</field>
            <value>
                <elementReference>Manager_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager_Phone__c</field>
            <value>
                <elementReference>Manager_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Hire_Ticket_Needed__c</field>
            <value>
                <elementReference>New_Hire_Ticket_Required2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Buddy__c</field>
            <value>
                <elementReference>OnboadingBuddy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>PaymentAmountForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Unit__c</field>
            <value>
                <elementReference>PaymentUnitForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email_Address__c</field>
            <value>
                <elementReference>Personal_email_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Information__c</field>
            <value>
                <elementReference>SFDC_PIVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Coverage_Country__c</field>
            <value>
                <elementReference>Primary_Coverage_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Fees_Included__c</field>
            <value>
                <elementReference>ProgramFeesIncludedForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_End_Date__c</field>
            <value>
                <elementReference>Project_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Start_Date__c</field>
            <value>
                <elementReference>Project_Start_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Lead__c</field>
            <value>
                <elementReference>ReferralLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Laptop__c</field>
            <value>
                <elementReference>RequiresLaptopVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Assests__c</field>
            <value>
                <elementReference>SFDC_AssetsVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Customer_Data__c</field>
            <value>
                <elementReference>SFDC_CustomerData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Network__c</field>
            <value>
                <elementReference>SFDC_NetworkVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Product__c</field>
            <value>
                <elementReference>SFDC_ProductVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Source_Code__c</field>
            <value>
                <elementReference>SFDC_SourceCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>ShippingCityforAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>ShippingCountryForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Territory__c</field>
            <value>
                <elementReference>ShippingStateTerritoryforAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street_Address__c</field>
            <value>
                <elementReference>ShippingAddressforAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>ShippingZipPostalCodeForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Approved_Budget__c</field>
            <value>
                <elementReference>BudgetForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_City__c</field>
            <value>
                <elementReference>Work_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Country__c</field>
            <value>
                <elementReference>WorkCountryVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_State_Province__c</field>
            <value>
                <elementReference>Work_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Street_Address__c</field>
            <value>
                <elementReference>Work_Street_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Work_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Salesforce_Referrals__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Salesforce_Contact</name>
        <label>Create Salesforce Contact</label>
        <locationX>609</locationX>
        <locationY>3457</locationY>
        <connector>
            <targetReference>Access_to_Confidential_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>001M000000n5nbu</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Manager_Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Manager_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Manager_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Manager_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012C0000000Q8Ew</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Lead_Create</name>
        <label>Lead Create</label>
        <locationX>960</locationX>
        <locationY>3455</locationY>
        <assignRecordIdToReference>ReferralLeadID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Referral_Object</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>ShippingCityforAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>ShippingCountryForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Personal_email_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00GC0000002D7Q6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>ShippingZipPostalCodeForAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012C0000000Q7rm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Client__c</field>
            <value>
                <stringValue>0018000000gq9zf</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>State_Territory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>ShippingAddressforAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <screens>
        <name>Approval_Required</name>
        <label>Approval Required</label>
        <locationX>246</locationX>
        <locationY>3461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalRequriedText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Because your answers indicate that the contractor may have access to confidential information, you must contact Chris Kelley at 415-836-2076 or &lt;/B&gt;&lt;FONT COLOR=&quot;#0099FF&quot;&gt;&lt;A HREF=&quot;mailto:ckelley@salesforce.com&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;ckelley@salesforce.com&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;B&gt; after you submit this referral.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;MBO Partners cannot begin processing this request without approval from Mr. Kelley.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Contractor_in_Scope_question</name>
        <label>Contractor in Scope</label>
        <locationX>16</locationX>
        <locationY>3041</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_the_contractor_in_scope</targetReference>
        </connector>
        <fields>
            <name>Contractor_Scope_Criteria</name>
            <fieldText>&lt;b&gt;Use this form to refer an internally sourced independent worker to MBO Partners. Use the &quot;Next&quot; button to move from page to page. Allow about 10 minutes to complete the referral.


Please confirm that this contractor meets ALL of the following criteria:

• The contractor is a sole-proprietor or a single-person company.

• The contractor charges an hourly bill rate of more than $35 / hour.

• The contractor has a company OR works as an independent contractor for other clients OR has the desire to operate as an independent contractor.

• The contractor understands that his/her rate must accommodate for the burdens required of a business owner (including, but not limited to, business insurance coverage, employer-side payroll taxes, marketing, financial administration, regulatory compliance, etc.)

Based on the above criteria, is the cotractor in scope for engagement through MBO Partners?&lt;/b&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contractor_Critera</name>
            <choiceReferences>contractor_is_in_scope</choiceReferences>
            <choiceReferences>contractor_not_in_scope</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Email_Error</name>
        <label>Email Error</label>
        <locationX>180</locationX>
        <locationY>2830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Screen_1</targetReference>
        </connector>
        <fields>
            <name>EmailErrorMessage</name>
            <fieldText>The email addresses you entered did not match. Please correct any errors in the email address.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Email_Error_0</name>
        <label>Email Error</label>
        <locationX>1184</locationX>
        <locationY>3267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Screen_2</targetReference>
        </connector>
        <fields>
            <name>EmailErrorMessage_0</name>
            <fieldText>The email address you entered was invalid. Please enter the email address in the format: &quot;email@domain.com&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>End_Date_Error</name>
        <label>End Date Error</label>
        <locationX>358</locationX>
        <locationY>2927</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Screen_1</targetReference>
        </connector>
        <fields>
            <name>EndDateMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please ensure that the Project End Date is after the Project Start Date.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>787</locationX>
        <locationY>3338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Screen_1</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;We&amp;apos;re sorry, an error occurred when processing the survey. Please return to the survey and correct any fields you may have entered improperly. Most commonly, this is caused by an improper email address format. If the problem persists, please contact &lt;/B&gt;&lt;FONT COLOR=&quot;#0099FF&quot;&gt;&lt;A HREF=&quot;mailto:salesforce@mbopartners.com&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;salesforce@mbopartners.com&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;for assistance.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Not_in_Scope</name>
        <label>Not in Scope</label>
        <locationX>159</locationX>
        <locationY>2924</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotInScopeMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;The contractor is not in scope for engagement through MBO Partners. Please return to the Salesforce &lt;/B&gt;&lt;FONT COLOR=&quot;#0066FF&quot;&gt;&lt;A HREF=&quot;https://sites.google.com/a/salesforce.com/staffup/?pli=1&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;U&gt;&amp;quot;StaffUp&amp;quot;&lt;/U&gt;&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;B&gt; landing page and select the appropriate resource category.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Screen_2_2</name>
        <label>Screen 2.2</label>
        <locationX>968</locationX>
        <locationY>3046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Screen_2</targetReference>
        </connector>
        <fields>
            <name>ShippingAddressQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;What is the new hire shipping address (i.e., the location to which the laptop must be shipped)?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Territory</name>
            <dataType>String</dataType>
            <fieldText>State/Territory</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Screen_1</name>
        <label>Survey Screen 1</label>
        <locationX>359</locationX>
        <locationY>3040</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_the_Project_End_Date_after_the_Project_Start_Date</targetReference>
        </connector>
        <fields>
            <name>Contractor_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter the following information about the contractor:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Personal_email_address</name>
            <dataType>String</dataType>
            <fieldText>Personal Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Re_type_Personal_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Re-type Personal Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Job_Title</name>
            <dataType>String</dataType>
            <fieldText>Business/Job Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space23</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Start_date</name>
            <dataType>Date</dataType>
            <fieldText>Project Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space27</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Project End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space28</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DescriptionofServicesQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Describe the services the contractor will perform. Provide as much information as possible about duties and deliverables. (You may paste in Statement of Work information, if appropriate.)&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_of_Services</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space25</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Hire_Ticket_Required2</name>
            <choiceReferences>New_Hire_Ticket_Required</choiceReferences>
            <choiceReferences>New_Hire_Ticket_Not_Required</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Is a new hire ticket needed for this contractor (for Salesforce equipment access, network badge, or system access)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Screen_2</name>
        <label>Survey Screen 2</label>
        <locationX>1042</locationX>
        <locationY>3134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_email_in_correct_format_0</targetReference>
        </connector>
        <fields>
            <name>Manager_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter the following information about the manager wishing to engage this contractor:&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Manager_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Manager&apos;s First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manager_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Manager&apos;s Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manager_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Manager&apos;s Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manager_Phone</name>
            <dataType>String</dataType>
            <fieldText>Manager&apos;s Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Screen_2_1</name>
        <label>Survey Screen 2.1</label>
        <locationX>662</locationX>
        <locationY>2919</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_SFDC_Property_Choices</targetReference>
        </connector>
        <fields>
            <name>SalesforcePropertyAccess</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;To which types of Salesforce property will the contractor have access? (Check all that apply.)&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SFDC_customer_data</name>
            <dataType>Boolean</dataType>
            <fieldText>SFDC customer data</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SFDC_source_code</name>
            <dataType>Boolean</dataType>
            <fieldText>SFDC source code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SFDC_facilities</name>
            <dataType>Boolean</dataType>
            <fieldText>SFDC facilities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SFDC_product</name>
            <dataType>Boolean</dataType>
            <fieldText>SFDC product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SFDC_network</name>
            <dataType>Boolean</dataType>
            <fieldText>SFDC network</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SFDC_assets</name>
            <dataType>Boolean</dataType>
            <fieldText>SFDC assets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Personal_information</name>
            <dataType>Boolean</dataType>
            <fieldText>Personal information (e.g., SSNs, home/work contact information, salary/benefit information about current/former/potential employees, customers, supplies, etc.)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space35</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space36</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OnboardingBuddyQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Who is the contractor&amp;apos;s &amp;quot;Onboarding Buddy&amp;quot;?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OnboadingBuddy</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space37</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space38</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Org62accessQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Provide the name of the individual to clone for Org62 access.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Individual_to_Clone_for_Org62</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space39</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space40</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequrieLaptopQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Does the contractor require a laptop computer?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RequiresLaptop</name>
            <choiceReferences>Laptop_Yes_Boolean</choiceReferences>
            <choiceReferences>Laptop_No_Boolean</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Screen_3</name>
        <label>Survey Screen 3</label>
        <locationX>1183</locationX>
        <locationY>2999</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Survey_Screen_4_1</targetReference>
        </connector>
        <fields>
            <name>Division</name>
            <choiceReferences>USA</choiceReferences>
            <choiceReferences>Canada</choiceReferences>
            <choiceReferences>Latin_America</choiceReferences>
            <choiceReferences>EMEA</choiceReferences>
            <choiceReferences>APAC</choiceReferences>
            <choiceReferences>Japan</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>USA</defaultSelectedChoiceReference>
            <fieldText>Division</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space44</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space43</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Coverage_Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>USA</stringValue>
            </defaultValue>
            <fieldText>Primary Coverage Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space22</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_Type</name>
            <choiceReferences>Office_text</choiceReferences>
            <choiceReferences>Remote_text</choiceReferences>
            <choiceReferences>Client_text</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Screen_4_1</name>
        <label>Survey Screen 4.1</label>
        <locationX>1340</locationX>
        <locationY>3003</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X4_1_Used_Assignment</targetReference>
        </connector>
        <fields>
            <name>Where_Preformed</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Where will the work be performed?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_State_Province</name>
            <dataType>String</dataType>
            <fieldText>State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Zip_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WorkCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Primary_Coverage_Country</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cost_Center_code</name>
            <dataType>String</dataType>
            <fieldText>Cost Center Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Unit_code</name>
            <dataType>String</dataType>
            <fieldText>Business Unit Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space19</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Amount_Type</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:13px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;What is the agreed-to payment for these services?&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Amount_3</name>
            <dataType>Currency</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Payment_Amount_Unit</name>
            <choiceReferences>Hour</choiceReferences>
            <choiceReferences>Milestone</choiceReferences>
            <choiceReferences>Deliverable</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Per</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IncreasePaymentQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;MBO withholds a service fee from the contractor&amp;apos;s bill rate (2.5% or 4.5%, depending on the applicable MBO service). Should the amount above be increased to accommodate for the MBO fee?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IncreaseRateforFee</name>
            <choiceReferences>Yes_Salesforce_is_covering_the_cost_of_the_MBO_fee</choiceReferences>
            <choiceReferences>No_the_contractor_is_responsible_for_covering_the_MBO_fee</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space45</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space46</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExpenseBudgetQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;What is the contractor&amp;apos;s expense budget for Salesforce-billable expenses?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesforceBillableExpenses</name>
            <dataType>Currency</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>space47</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space48</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApprovedBudgetQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;For the purposes of the Contract and the Coupa PR, what is the total approved budget for this project? Please be aware that an additional $100 will be allocated to this total budget for the cost of the Salesforce-required background screening.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Total_Approved_Budget1</name>
            <dataType>Currency</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
    </screens>
    <screens>
        <name>Type_of_Laptop</name>
        <label>Type of Laptop</label>
        <locationX>1038</locationX>
        <locationY>2914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Survey_Screen_2</targetReference>
        </connector>
        <fields>
            <name>computer_type</name>
            <choiceReferences>Mac</choiceReferences>
            <choiceReferences>Dell_PC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of computer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space41</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space42</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;What is the new hire shipping address (i.e., the location to which the laptop must be shipped)?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street_Address2</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City2</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_Territory2</name>
            <dataType>String</dataType>
            <fieldText>State/Territory</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Postal_Code2</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country2</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Contractor_in_Scope_question</startElementReference>
    <textTemplates>
        <name>NotificationEmailBody</name>
        <text>Lead {!First_Name} {!Last_Name} has been referred by Salesforce 

To view the details please click on the following link:

https://na8.salesforce.com/{!ReferralLeadID}</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationEmailSubject</name>
        <text>A lead has been assigned to the Salesforce Referral Queue.</text>
    </textTemplates>
    <variables>
        <name>BudgetForAssignment</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>BusinessUnitCodeForAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CostCenterCodeForAssignement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExpensesForAssignment</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>GroupMemberLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>GroupMemberUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotInScope</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PaymentAmountForAssignment</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>PaymentUnitForAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProgramFeesIncludedForAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReferralLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiresLaptopVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SalesforceGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesforceReferralId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SFDC_AssetsVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SFDC_CustomerData</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SFDC_FacilitiesVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SFDC_NetworkVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SFDC_PIVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SFDC_ProductVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SFDC_SourceCode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SFGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>ShippingAddressforAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingCityforAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingCountryForAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingStateTerritoryforAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingZipPostalCodeForAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UsersInGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>WorkCountryVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
