org_unpackaged/unpackaged/flows/Initial_Project_Active_Check-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Associate_Id</name>
        <label>Assign Associate Id</label>
        <locationX>180</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>AssociateAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001M000000k11N3</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Created_Date_and_Stage</name>
        <label>Assign Work Order Created Date and Stage</label>
        <locationX>899</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderCreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLoopVar.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderLoopVar.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Work_Orders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Current_Work_Order_Older_Than_Previous_Work_Order</name>
        <label>Is Current Work Order Older Than Previous Work Order?</label>
        <locationX>896</locationX>
        <locationY>144</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Work_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Newer than previous</defaultConnectorLabel>
        <rules>
            <name>Older_than_previous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderLoopVar.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>WorkOrderCreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Order_Created_Date_and_Stage</targetReference>
            </connector>
            <label>Older than previous</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Initial_Project_Active</name>
        <label>Is Initial Project Active?</label>
        <locationX>516</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Update_Associate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive Initial Project</defaultConnectorLabel>
        <rules>
            <name>Active_Initial_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Associate</targetReference>
            </connector>
            <label>Active Initial Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_CreatedDate_and_Stage_Assigned</name>
        <label>Were CreatedDate and Stage Assigned?</label>
        <locationX>509</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>Is_Current_Work_Order_Older_Than_Previous_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CreatedDate and Stage Assigned</defaultConnectorLabel>
        <rules>
            <name>CreatedDate_and_Stage_Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Work_Order_Created_Date_and_Stage</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Order_Created_Date_and_Stage</targetReference>
            </connector>
            <label>CreatedDate and Stage Not Assigned</label>
        </rules>
    </decisions>
    <interviewLabel>Initial Project Active Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initial Project Active Check</label>
    <loops>
        <name>Loop_Thru_Work_Orders</name>
        <label>Loop Thru Work Orders</label>
        <locationX>512</locationX>
        <locationY>307</locationY>
        <assignNextValueToReference>WorkOrderLoopVar</assignNextValueToReference>
        <collectionReference>WorkOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Were_CreatedDate_and_Stage_Assigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Initial_Project_Active</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Work_Orders</name>
        <label>Lookup Work Orders</label>
        <locationX>357</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Work_Orders</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociateAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012C0000000QFCb</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>WorkOrders</outputReference>
        <queriedFields>StageName</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Associate</name>
        <label>Update Associate</label>
        <locationX>382</locationX>
        <locationY>532</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociateAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Initial_Project__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Associate_0</name>
        <label>Update Associate</label>
        <locationX>646</locationX>
        <locationY>534</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociateAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Initial_Project__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Lookup_Work_Orders</startElementReference>
    <variables>
        <name>AssociateAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>WorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>WorkOrderStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
